<main>
    <h2>Ropa deportiva</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="producto">
            <img src="ropa1.jpg" alt="Ropa deportiva 1">
            <h3>Ropa deportiva 1</h3>
            <p>Descripción de la ropa deportiva 1.</p>
            <p>Características de la ropa deportiva 1.</p>
            <p>Precio: $XX.XX</p>
            <button>Comprar</button>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="producto">
            <img src="ropa2.jpg" alt="Ropa deportiva 2">
            <h3>Ropa deportiva 2</h3>
            <p>Descripción de la ropa deportiva 2.</p>
            <p>Características de la ropa deportiva 2.</p>
            <p>Precio: $XX.XX</p>
            <button>Comprar</button>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="producto">
            <img src="ropa3.jpg" alt="Ropa deportiva 3">
            <h3>Ropa deportiva 3</h3>
            <p>Descripción de la ropa deportiva 3.</p>
            <p>Características de la ropa deportiva 3.</p>
            <p>Precio: $XX.XX</p>
            <button>Comprar</button>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-4">
          <div class="producto">
            <img src="ropa4.jpg" alt="Ropa deportiva 4">
            <h3>Ropa deportiva 4</h3>
            <p>Descripción de la ropa deportiva 4.</p>
            <p>Características de la ropa deportiva 4.</p>
            <p>Precio: $XX.XX</p>
            <button>Comprar</button>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="producto">
            <img src="ropa5.jpg" alt="Ropa deportiva 5">
            <h3>Ropa deportiva 5</h3>
            <p>Descripción de la ropa deportiva 5.</p>
            <p>Características de la ropa deportiva 5.</p>
            <p>Precio: $XX.XX</p>
            <button>Comprar</button>
          </div>
        </div>
        
        <div class="col-md-4">
            <div class="producto">
              <img src="ropa6.jpg" alt="Ropa deportiva 6">
              <h3>Ropa deportiva 6</h3>
              <p>Descripción de la ropa deportiva 6.</p>
              <p>Características de la ropa deportiva 6.</p>
              <p>Precio: $XX.XX</p>
              <button>Comprar</button>
            </div>
          </div>
        </div>
      </div>
    </main>