<app-menu></app-menu>
<app-boton-pqrs></app-boton-pqrs>
<app-boton-pago></app-boton-pago>
<main>
    <h2>Ropa Deportiva</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="producto">
            <img src="../../../assets/imagen/ropaDeportiva/hombre/1637e0a413031f72a40099e6ade26de8-product.webp" alt="Ropa deportiva 1">
            <h3>Pantaloneta Deportiva Nike Short</h3>
            <p><b>Producto Importado</b></p>
            <p>Las instrucciones de cuidado y conservación se encuentran 
               en la etiqueta del producto de acuerdo con lo establecido en la Resolución 1950 de 2009 y demás disposiciones legales.
            <br> -100% Original
            <p><b>$120.000</b></p>
            <button>Comprar</button>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="producto">
            <img src="../../../assets/imagen/ropaDeportiva/hombre/camisa.jpg" alt="Ropa deportiva 2">
            <h3>Camiseta Deportiva Clásica</h3>
            <p><b>El modelo mide 185cm y lleva una talla M.</b></p>
            <p>La manga es estilo ranglan que se adapta a 
               todos los movimientos en sesiones de entrenamiento intenso. Elaborado 
               en tejido poliéster con textura, permite una adecuada ventilación. La 
               silueta es de ajuste estándar.
              <br> -Tela Jersey en tejido de punto.</p>
            <p><b>Precio: $30.000</b></p>
            <button>Comprar</button>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="producto">
            <img src="../../../assets/imagen/ropaDeportiva/mujer/leggins.jpg" alt="Ropa deportiva 3">
            <h3>Gris Silvestre Leggin Anti-Celulitis</h3>
            <p><b>Con Cintura Alta & Horma Ideal</b></p>
            <p>Diseñados para darte mayor comfort, cubrir imperfecciones al darte el ajuste 
              perfecto y realzar tu silueta con un ligero levante de cola y control de abdomen. 
              También contamos con tecnologia dri-fit, filtro uv, transporte de humedad, 
              antipilling y permanencia del color ante el lavado y la exposición al sol.</p>
            <p><b>Precio: $40.990</b></p>
            <button>Comprar</button>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-4">
          <div class="producto">
            <img src="../../../assets/imagen/ropaDeportiva/mujer/faldaShort.jpg" alt="Ropa deportiva 4">
            <h3>Falda Short</h3>
            <p><b>Material Licrado</b></p>
            <p>Con tecnología Dry fit, evita malos olores, siéntete cómoda mientras haces ejercicio, 
               costuras reforzadas, tela de alta durabilidad.
              <br> - Tallas: S, M, L, XL, XXL</p>
            <p><b>Precio: $XX.XX</b></p>
            <button>Comprar</button>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="producto">
            <img src="../../../assets/imagen/ropaDeportiva/Nino/sudaderaCompleta.avif" alt="Ropa deportiva 5">
            <h3>Sudadera Sintético Transpirable Azul-Negro</h3>
            <p><b>Para actividades deportivas en todos los terrenos y en el colegio.</b></p>
            <p><br> -Componente de poliéster. Zonas aireadas bajo los brazos y en la parte posterior del pantalón.
            <br> -Tela naturalmente stretch para aportar libertad de movimientos.
            <br> -Refuerzo en las rodillas, más resistente que la tela principal.</p>
            <p><b>Precio: $110.000</b></p>
            <button>Comprar</button>
          </div>
        </div>
        
        <div class="col-md-4">
            <div class="producto">
              <img src="../../../assets/imagen/ropaDeportiva/mujer/top.jpg" alt="Ropa deportiva 6">
              <h3>Top Elástico</h3>
              <p><b>Material Licrado</b></p>
              <p>-El top se ajusta con facilidad a tu pecho con lo que te permite moverte sin problema.
              <br> -Confeccionado con sistema de secado rápido para aumentar tu rendimiento al mantenerte fresca y seca.
              <br> -Costuras planas evitando rozaduras.
              <br> -Un estilo auténtico, cuidamos cada detalle.
              <br> -Cuenta con sujetadores que se adaptan perfectamente a tu cuerpo.</p>
              <p><b>Precio: $38.990</b></p>
              <button>Comprar</button>
            </div>
          </div>
        </div>
      </div>
    </main>