<footer class="footer_area">
	<div class="container">
		<div class="row">				
			<div class="col-md-3 col-sm-6">
				<div class="single_ftr">
					<h4 class="titulosfooter">Contenido</h4>
					<ul>
						<li>Ropa Deportiva</li>
						<li>Productos</li>
						<li>Accesorios</li>
						<li> Orien. Nutricional</li>
						<li> Info. Frutas y Vegetales</li>
						<li>Asesoría profesional</li>
						<li>Ventana Especial</li>
					</ul>
				</div>
			</div> <!--  End Col -->
					
			<div class="col-md-3 col-sm-6">
				<div class="single_ftr">
					<h4 class="titulosfooter">Ayuda</h4>
					<ul>
						<li>PQRS</li>
						<li>Soporte</li>
					</ul>
				</div>
			</div> <!--  End Col -->
					
			<div class="col-md-3 col-sm-6">
				<div class="single_ftr">
					<h4 class="titulosfooter">Compañia</h4>
					<ul>
						<li>¿Quiénes Somos?</li>
						<li>Contacta Con Nosotros</li>
						<li>Precios</li>
						<li>Novedades</li>
					</ul>
				</div>
			</div> <!--  End Col -->	
					
			<div class="col-md-3 col-sm-6">
				<div class="single_ftr">
					<h4 ubicacion class="titulosfooter">Ubicacion</h4>
					<div class="loader">
						<ul>
							<li class="botonUbicacion"><br><br><br>
								<a class="botonUbicacion" href="https://www.google.com/maps/@5.7695734,-72.9398959,3a,75y,268.57h,82.7t/data=!3m6!1e1!3m4!1sY1V1n4NGQRNNCXMj4yVExw!2e0!7i13312!8i6656" target="_blank">clickea</a>
							</li>
						</ul>
              			<!-- Boton de Ubicacion -->
                		</div>
						</div>
					</div> <!--  End Col -->
				</div>
			</div>
	
			<!-- BOTONES REDES SOCIALES -->
			<div class="ftr_btm_area">
				<div class="container">
					<div class="row">
            		<h5>REDES SOCIALES</h5>
					<div id="redessociales">
					<a class="smedia facebook" href="https://www.facebook.com/">Uno</a>
					<a class="smedia twitter" href="https://www.twitter.com/">Dos</a>
					<a class="smedia instagram" href="https://www.instagram.com/suplementos_boyaca/">Tres</a>
					<a class="smedia youtube" href="#">Cuatro</a>
					<a class="smedia email" href="#">Seis</a>
				</div>
			</div>
		</div>
	</div>
</footer>