<footer class="footer_area">
			<div class="container">
				<div class="row">				
					<div class="col-md-3 col-sm-6">
						<div class="single_ftr">
							<h4 class="titulosfooter">Contenido</h4>
							<ul>
								<li>Ropa Deportiva</li>
								<li>Productos</li>
								<li>Accesorios</li>
								<li> Orien. Nutricional</li>
								<li> Info. Frutas y Vegetales</li>
								<li>Asesoría profesional</li>
								<li>Ventana Especial</li>
							</ul>
						</div>
					</div> <!--  End Col -->
					
					<div class="col-md-3 col-sm-6">
						<div class="single_ftr">
							<h4 class="titulosfooter">Ayuda</h4>
							<ul>
								<li>PQRS</li>
								<li>Soporte</li>
							</ul>
						</div>
					</div> <!--  End Col -->
					
					<div class="col-md-3 col-sm-6">
						<div class="single_ftr">
							<h4 class="titulosfooter">Compañia</h4>
							<ul>
								<li>¿Quiénes Somos?</li>
								<li>Contacta Con Nosotros</li>
								<li>Precios</li>
								<li>Novedades</li>
							</ul>
						</div>
					</div> <!--  End Col -->	
					
					<div class="col-md-3 col-sm-6">
						<div class="single_ftr">
							<h4 ubicacion class="titulosfooter">Ubicacion</h4>
						
						<div class="loader">
							<ul>
								<li class="botonUbicacion"><br><br><br>
									<a class="botonUbicacion" href="https://www.google.com/maps/@5.7696607,-72.9399182,3a,75y,113.59h,79.28t/data=!3m6!1e1!3m4!1sIfG8v275uV8ncDVTjKURMA!2e0!7i13312!8i6656" target="_blank">clickea</a>
								</li>
							</ul>
              			<!-- Boton de Ubicacion -->
                	</div>
						</div>
					</div> <!--  End Col -->
				</div>
			</div>
	
		<!-- BOTONES REDES SOCIALES -->
			<div class="ftr_btm_area">
				<div class="container">
					<div class="row">
            <h4>REDES SOCIALES</h4>
            <div id="redessociales">
              <a class="smedia facebook" href="https://es-la.facebook.com/suplementos.deportivos.9655"></a>
              <a class="smedia twitter" href="https://twitter.com/ndeportivave"></a>
              <a class="smedia instagram" href="https://www.instagram.com/suplementos_boyaca/?igshid=YmMyMTA2M2Y="></a>
              <a class="smedia youtube" href="https://www.youtube.com/@AndresVazquezPersonalTrainer"></a>
              <a class="smedia email" href="https://www.google.com/intl/es-419/gmail/about/"></a>
            </div>
					</div>
				</div>
			</div>
		</footer>
