<!-- <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Contenido</h3>
          <p>Ropa Deportiva<br>Productos<br>Accesorios<br>Orientación nutricional<br>Info.Frutas y Vegetales<br>Asesoria Profesional<br>Ventana Especial</p>
        </div>
        <div class="col-md-6">
          <h3>Ayuda</h3>
          <p><br>PQRS<br>Soporte</p>
        </div>
        <div class="col-md-6">
          <h3>Company</h3>
          <p><br>¿Quienes Somos?<br>Contactanos<br>Precios<br>Novedades</p>
        </div>
        <div class="col-md-4">
          <h3>Ubicacion</h3>
          <p><br>PQRS<br>Soporte</p>
        </div>
        <div class="col-md-6">
          <h3>Redes Sociales</h3>
          <ul class="social-media">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer> -->


  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
<footer class="footer_area">
			<div class="container">
				<div class="row">				
					<div class="col-md-3 col-sm-6">
						<div class="single_ftr">
							<h4 class="titulosfooter">Contenido</h4>
							<ul>
								<li>Ropa Deportiva</li>
								<li>Productos​</li>
								<li>Accesorios​</li>
								<li> Orien. Nutricional​</li>
								<li> Info. Frutas y Vegetales​</li>
								<li>Asesoría profesional</li>
								<li>Ventana Especial​</li>
							</ul>
						</div>
					</div> <!--  End Col -->
					
					<div class="col-md-3 col-sm-6">
						<div class="single_ftr">
							<h4 class="titulosfooter">Ayuda</h4>
							<ul>
								<li>PQRS</li>
								<li>Soporte</li>
							</ul>
						</div>
					</div> <!--  End Col -->
					
					<div class="col-md-3 col-sm-6">
						<div class="single_ftr">
							<h4 class="titulosfooter">Compañia</h4>
							<ul>
								<li>¿Quiénes Somos?</li>
								<li>Contacta Con Nosotros</li>
								<li>Precios</li>
								<li>Novedades</li>
							</ul>
						</div>
					</div> <!--  End Col -->	
					
					<div class="col-md-3 col-sm-6">
						<div class="single_ftr">
							<h4 class="titulosfooter">Ubicacion</h4>
						
                <div class="loader">
                  <a href="#"></a>
              <!-- Boton de Ubicacion -->
                </div>
								
						
						</div>
					</div> <!--  End Col -->
					
				</div>
			</div>
	
		<!-- BOTONES REDES SOCIALES -->
			<div class="ftr_btm_area">
				<div class="container">
					<div class="row">

            <h4>REDES SOCIALES</h4>

            <div id="redessociales">
              <a class="smedia facebook" href="https://www.facebook.com/">Uno</a>
              <a class="smedia twitter" href="https://www.twitter.com/">Dos</a>
              <a class="smedia instagram" href="#">Tres</a>
              <a class="smedia youtube" href="#">Cuatro</a>
              <a class="smedia email" href="#">Seis</a>
               </div>

               
						
			
					</div>
				</div>
			</div>
		</footer>