/* footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
  }
  .row{
    width: 40%;
  }
  .col-md{
    width: 40%;
  }
  
  footer h3 {
    margin-top: 0;
  }
  
  footer p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  
  .social-media {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .social-media li {
    margin-right: 10px;
  }
  
  .social-media li:last-child {
    margin-right: 0;
  }
  
  .social-media a {
    color: #fff;
    font-size: 24px;
  }
  
  .social-media a:hover {
    color: #bbb;
  } */
  h4{
    text-align: start;
    justify-content: center;
    align-items: center;
    color: #33d286;
  }

  ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0;
}
.footer_area {
  margin: 0%;
	padding:40px 0 20px;
	position:static;
	color: #fff;
	z-index: 100;
	background: #222;
	word-break: break-all;
	word-wrap: break-word;
}

.single_ftr form{
	margin-top: 8px;
}
.single_ftr p{
	margin-bottom: 10px;
}

.titulosfooter{
    color: #33d286;
    text-transform: uppercase;
    font-size: 17px;
	margin-top: 0px;
	margin-bottom: 15px;
}
.ftr_logo {
    float: left;
    padding: 15px 46px 0 0;
}
.ftr_logo a img {
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
}
.ftr_logo a:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.3;
}

.single_ftr p{
	display: inline-block;
}

.single_ftr li {
    padding-bottom: 7px;
    color: #fff;
}
.single_ftr a {
    color: #fff;
}
.single_ftr a:hover {
    color: #33d286;
}



.ftr_social_icon ul li a:hover{
	background: #33d286;
	border-color: #33d286;
	color: #fff;
}

.ftr_btm_area {
	background: transparent;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px dotted #888;
	margin-top: 28px;
	z-index: 100;
	position: relative;
}

.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 20px auto;
  box-sizing: border-box;
  position: absolute;
}

.loader::after {
  content: '';
  width: 48px;
  height: 48px;
  left: 0;
  bottom: 0;
  position: absolute;
  border-radius: 50% 50% 0;
  border: 15px solid rgb(112, 172, 72);
  transform: rotate(45deg) translate(0, 0);
  box-sizing: border-box;
  animation: animMarker 0.4s ease-in-out infinite alternate;
}

.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150%;
  width: 24px;
  height: 4px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  animation: animShadow 0.4s ease-in-out infinite alternate;
}

@keyframes animMarker {
  0% {
    transform: rotate(45deg) translate(5px, 5px);
  }

  100% {
    transform: rotate(45deg) translate(-5px, -5px);
  }
}

@keyframes animShadow {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}


#redessociales {
  width: 64px;
  height: 64px;
  border-radius: 75px;
  border: 5px solid #fff;
  background: url(https://4.bp.blogspot.com/-gKMIOgeaEBY/UWHsOA382oI/AAAAAAAABpI/5GdyRTAeKII/s1600/share_core_square.jpg)
}

.smedia {
  position: absolute;
-webkit-transition: left 1.5s cubic-bezier(0.1,0.8,0.9,1), opacity 1s linear;
-moz-transition: left 1.5s cubic-bezier(0.1,0.8,0.9,1),opacity 1s linear;
-o-transition: left 1.5s cubic-bezier(0.1,0.8,0.9,1), opacity 1s linear;
  display: inline;
  opacity: 0;
  width: 46px;
  height: 46px;
  z-index: 100;
  margin:10px 0px 0px 20px;
  text-indent: -9999px;
  background: no-repeat;
  left:3px;
}

#redessociales:hover .smedia {
  opacity: 1;
  transform: translate(0px,0);
  -webkit-transform: translate(0px,0);
  -o-transform: translate(0px,0); 
  -moz-transform: translate(0px,0);
  margin:10px 0px 0px 20px;
  position: absolute;
}
#redessociales:hover .smedia:nth-child(1) {
  position: absolute;
  left:450px;
}

#redessociales:hover .smedia:nth-child(2) {
  position: absolute;
  left:500px;
}
#redessociales:hover .smedia:nth-child(3) {
  position: absolute;
  left:550px;
}
#redessociales:hover .smedia:nth-child(4) {
  position: absolute;
  left:600px;
}
#redessociales:hover .smedia:nth-child(5) {
  position: absolute;
  left:650px;
}



.smedia.facebook {
    background: url(https://4.bp.blogspot.com/-49s_0_9mdVo/UWHsMIvJBNI/AAAAAAAABn8/6bVMlN4Qz7Y/s1600/bubble_facebook_share_button.png);
}
.smedia.twitter {
    background: url(https://2.bp.blogspot.com/-3r8sHe1Qy5M/UWHsNMDDzHI/AAAAAAAABog/q3V7mYirmOY/s1600/bubble_twitter_share_button.png);
}
.smedia.email {
    background: url(https://3.bp.blogspot.com/-ZhFqBhp79cA/UWHsMBmPxsI/AAAAAAAABn4/O8k_pGf1oCU/s1600/bubble_email_share_button.png);
}
.smedia.instagram {
    background: url(https://1.bp.blogspot.com/-FSkby0cXU_8/UWHsMis8c2I/AAAAAAAABoQ/y8coyc5ystc/s1600/bubble_instagram_share_button.png);
}
.smedia.youtube {
    background: url(https://4.bp.blogspot.com/-x2oyT1dBzwA/UWHsNtcWXVI/AAAAAAAABo8/8kCXTVMbM6Y/s1600/bubble_youtube_share_button.png);
}
.smedia.vimeo {
    background: url(https://2.bp.blogspot.com/-01SWPeX-584/UWHsNim9CAI/AAAAAAAABo4/Z9jMox_9UrE/s1600/bubble_vimeo_share_button.png);
}
.smedia:hover {
    background-position: 0 -46px;
}


ul li a:visited{
  color:#7bc9fd;
}