/* Estilos para las pestañas */
.nav-tabs {
    margin-top: 20px;
  }
  
  .nav-link {
    font-size: 18px;
    color: #155724;
    background-color: #f7fff7;
    border: 1px solid #c3e6cb;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
  }
  
  .nav-link.active, .nav-link:hover {
    background-color: #28a745;
    color: #fff;
    border-color: #28a745;
  }
  
  /* Estilos para los formularios */
  .tab-content {
    background-color: #f7fff7;
    padding: 20px;
    border: 1px solid #c3e6cb;
    border-top: none;
    border-radius: 0 5px 5px 5px;
  }
  
  .tab-pane {
    margin-top: 20px;
  }