
<div class="inicio-container" style="margin-top: 50px;">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#register">Registro</a>
    </li>
  </ul>
  
  <!-- Contenido de las pestañas -->
  <div class="tab-content">
    <div class="tab-pane fade show active" id="login">
      <app-login></app-login> <!-- Componente para el formulario de login -->
    </div>
    <div class="tab-pane fade" id="register">
      <app-register></app-register> <!-- Componente para el formulario de registro -->
    </div>
  </div>
</div>
