/* Estilos para las pestañas */
.nav-tabs {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10%;
  }
  
  .nav-link {
    font-size: 18px;
    color: #000000;
    background-color: #aab2ce;
    border: 1px solid #979fbc;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
  }
  
  .nav-link.active, .nav-link:hover {
    background-color: #010b64;
    color: #fff;
    border-color: #00053a;
  }
  
  /* Estilos para los formularios */
  .tab-content {
    background-color: #f6f8ff;
    padding: 20px;
    border: 1px solid #979fbc;
    border-top: none;
    border-radius: 0 5px 5px 5px;
    margin-left: 35%;
    margin-right: 35%;
  }
  
  .tab-pane {
    margin-top: 20px;
  }