<app-menu></app-menu>
<app-boton-pqrs></app-boton-pqrs>
<h2 class="title">Accesorios Deportivos</h2>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="producto">
          <img src="../../../assets/imagen/Accesorios/cuerdaS/lasoprofesional.jpg" alt="Accesorio deportivo 1">
          <h3>Cuerda de Saltar</h3>
          <p><b>Cuerda Lazo De Velocidad Para Saltar Guaya Ajustable Gym</b></p>
          <p>Nuestra cuerda de saltar de ejercicio puede dar forma a tu resistencia cardiovascular, 
            velocidad y resistencia, mientras mejora la tensión muscular de todo tu cuerpo, lo que 
            ayuda a fortalecer tu cuerpo y perder peso. Este tipo de cuerda de saltar es ideal para 
            entrenamiento cardiovascular y una forma divertida de ponerse en forma rápidamente. 
            Te permite quemar calorías y tener un gran entrenamiento saltando o saltando.</p>
          <p><b>Precio: $15.000</b></p>
          <button>Comprar</button>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="producto">
          <img src="../../../assets/imagen/Accesorios/vendaE/vendaPiel.jpg" alt="Accesorio deportivo 2">
          <h3>Accesorio deportivo 2</h3>
          <p><b>Vendaje Elastico - Color Piel</b></p>
          <p>Hecho de material de nailon de calidad, transpirable, de secado rápido y cómodo.
            Cierre de gancho y bucle para que sea fácil de poner y quitar.
            Diseño de compresión que facilita la recuperación muscular y la prevención de lesiones.
            Evita que te lastimes al, mejora tu movilidad y rendimiento.
          <br>-Disponible en diferentes medidas: 2x5 yardas, 3x5 yardas, 4x5 yardas, 5x5 yardas, 6x5 yardas.</p>
          <p><b>Precio: $5.000 C/U</b></p>
          <button>Comprar</button>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="producto">
          <img src="../../../assets/imagen/Accesorios/munequera/munequera.jpg" alt="Accesorio deportivo 3">
          <h3>Muñequeras</h3>
          <p><b>Ortopédica y Ajustable</b></p>
          <p> -Para la tenosinovitis de quervain, lesiones del pulgar y procesos post-operatorios.
            <br> -Estabiliza la articulación de la muñeca y evita la abducción del pulgar.
            <br> -Con doble férula para inmovilizar el pulgar que permite mantenerlo en posición funcional 
                  y palmar inmovilizadora de la articulación de la muñeca.
            <br> -Permite el posicionamiento del primer dedo. Inestabilidades leves. Estabilización y 
                  abducción de la articulación metacarpofalángica.
            <br> Reduce y/o alivia los síntomas de dolor por el síndrome de túnel carpiano y Tendinitis.</p>
            <p><b>Precio: $30.990</b></p>
          <button>Comprar</button>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <div class="producto">
          <img src="../../../assets/imagen/Accesorios/rodillera/rodilleraBisagras.jpg" alt="Accesorio deportivo 4">
          <h3>Rodillera</h3>
          <p><b>La Rodillera Estabilizadora perfecto para aquellos que necesitan 
                 apoyo y protección en la rodilla.</b></p>
          <p> -Estiramientos y ruptura de ligamentos medio y lateral.
            <br> -Rompimiento del menisco medio y lateral.
            <br> -Tratamiento de ligamentos cruzados anterior y posterior.
            <br> -Controla el movimiento de la hiper extension.
            <br> -Tallas: S, M, L, XL, XXL</p>
          <p><b>Precio: $78.500</b></p>
          <button>Comprar</button>
        </div>
			</div>
			
			<div class="col-md-4">
				<div class="producto">
					<img src="../../../assets/imagen/Accesorios/Pesa/mancuernasColor.jpg" alt="Accesorio deportivo 5">
					<h3>Pesas</h3>
					<p><b>Mancuernas de Colores</b></p>
					<p>Nuestras pesas de colores están recubiertas por vinilo 
             y su kilaje viene indicado en cada una de ellas. Se diferencian 
             por colores y tienen forma hexagonal para evitar el rodamiento y 
             poder hacer ejercicios apoyados en ellas. Están disponibles desde 1 a 10kg.</p>
					<p><b>Precio: $23.000 C/par</b></p>
					<button>Comprar</button>
				</div>
			</div>

      <div class="col-md-4">
				<div class="producto">
					<img src="../../../assets/imagen/Accesorios/bandasE/bandaElastica.jpg" alt="Accesorio deportivo 5">
					<h3>Bandas Elasticas</h3>
					<p><b>Látex de alta calidad, diferentes tamaños y resistencias.</b></p>
					<p>Perfectas para entrenamientos de fuerza, estiramientos y rehabilitación, 
             su diseño compacto te permite llevarlas a cualquier lugar.
            <br>
            <br> <b>Medidas y Tension</b>
            <br> -Verde: 60x5x0,04 cm / 5 libras.
            <br> -Azul: 60x5x0,06 cm / 15 libras.
            <br> -Amarillo: 60x5x0,08 cm / 20 libras.
            <br> -Rojo: 60x5x0,1 cm / 30 libras.
            <br> -Negro: 60x5x0,12 cm / 40 libras.
            </p>
					<p><b>Precio: $18.000 C/U</b></p>
					<button>Comprar</button>
				</div>
			</div>
		</div>
	</div>
</main>
