/* Estilos para el formulario */
form {
  
    background-color: #f6f8ff;
    padding: 20px;
    border: 1px solid #aab2ce;
    border-radius: 5px;
  }
  
  /* Estilos para el encabezado */
  h3 {
    font-family: cursive;
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
  }
  
  /* Estilos para las etiquetas */
  label {
    font-size: 18px;
    color: #000000;
  }
  
  /* Estilos para los campos de entrada */
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #aab2ce;
    border-radius: 5px;
  }
  
  /* Estilos para el botón de envío */
  input[type="submit"] {
    background-color: #ccb30e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #218838;
  }
  