<app-menu></app-menu>
<section class="compras">
    <div class="container">
      <h2>Productos</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="../../../assets/imagen/suplemento/productoHombre/best-protein.jpg" class="ima-suple" alt="...">
            <div class="card-body">
              <h5 class="card-title">Best Protein</h5>
              <p class="card-text">(Proteina para Hombre)<br>-4 Libras
                <br> -26g de proteína.
                <br> -Proteína aislada de suero de altísima calidad.
                <br> -Contiene Caseína micelar para una absorción prolongada.
                <br> -Ayuda a incrementar la síntesis proteica.
                <br> -No contiene azúcar, lactosa, carbohidratos ni grasa.</p>
              <a href="#" class="btn btn-primary">Agregar al carrito</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="../../../assets/imagen/suplemento/productoMujer/BiProLite.jpg" class="ima-Bipro" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bi-Pro Lite</h5>
              <p class="card-text">(Proteina para Mujer)<br>- Proteína en polvo.
                <br> -Aumento de masa muscular.
                <br> -5 g Colágeno hidrolizado.
                <br> -1 g L-Carnitina.
                <br> -400 mcg Picolinato de cromo.
                <br> -26 g por porción.
                <br> -190 Calorías.</p>
              <a href="#" class="btn btn-primary">Agregar al carrito</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="../../../assets/imagen/suplemento/productoNinos/megaJunior.jpg" class="imaJunior" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mega Junior</h5>
              <p class="card-text">Alimento en polvo con proteína, fibra, vitaminas y minerales 
                que apoya los procesos alimenticios de los jóvenes, entre 11-16 años, donde viven 
                la etapa de preparación para el desarrollo y crecimiento.<br>- Multivitamínico y Multimineral
                <br> -Complemento Protéico
                <br> -Soporte Digestivo
                <br> -Complemento Nutricional</p>
              <a href="#" class="btn btn-primary">Agregar al carrito</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>