/* Estilos para el encabezado */
.pqrs{
  border: 2px solid black;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
}

h2 {
  font-family: fantasy;
  /* margin-bottom: 20px; */
  margin-top: 2%;
  text-align: center;
  color: black;
}

p{
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  color: black;
}

form {
  background-color: #f4fff5;
  padding: 20px;
  border: 2px dashed #004208;
  border-radius: 5px;
  margin-left: 8%;
  margin-right: 8%;
}
  
/* Estilos para las etiquetas */
label {
  font-size: 18px;
  color: #004208;
}
  
  
  
  /* Estilos para los campos de entrada */
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 4px;
    margin-bottom: 20px;
    border: 1px solid #013910;
    border-radius: 5px;
  }
  
  /* Estilos para el botón de envío */
  input[type="submit"] {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #218838;
  }
  
  /* Estilos para el botón de inicio de sesión con Google */
  .btn-info {
    background-color: #ffffff;
    color: #6f0303;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
  }

  button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 1px;
    border: 1px solid #013910;
    border-radius: 5px;
    width: 100%;
}
  
  .btn-info:hover {
    background-color: #013910;
  }


