.w3-sidebar {
    background: rgb(12, 12, 85);
}

.w3-bar-item {
    color: white;
}

.offcanvas-title{
    color: black;
    font-family: cursive;
}

.offcanvas-body{
    background: rgb(4, 4, 71);
}

.offcanvas-title{
    color: white;
}

.offcanvas-header{
    background: rgb(4, 4, 71);
}

.nav-link.active {
    color: white;
}

.offcanvas.offcanvas-start{
    background: rgb(4, 4, 71);
    width: 15%;
}

.btn{
    color: white;

}

.container-fluid{
    background: #67bd50;
    width: 10%;
    justify-content: left;
    align-items: left;
    display:flex;
    position: fixed;
}
.navbar{
    width: 10%;
}

.offcanvas-header{
    padding: 5%;
}