<nav class="navbar bg-body-tertiary fixed-top">
    <br>
    <br>
    
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
        
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <br>
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn close" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-left flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Productos</a>
            </li>
            <br>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Accesorios</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Ropa Deportiva</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Orientacion Nutricional</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">info. Frutas y Vegetales</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Calculadora IMC</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Asesoria Profesional</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Ventana Especial</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
</nav> 



<!-- <!DOCTYPE html> 
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>


    <div class="nav-left"  class="w3-sidebar w3-bar-block" style="width: 15%">

        <a class="nav-item" routerLink="../home">
            <b>&#8801;Menu</b>
        </a>
        <br>
        <br>
        <br>
        <button class="nav-item" onclick="w3_close()">Close &times;</button>
        <a href="#" class="w3-bar-item w3-button">Productos</a>
        <br>
        <a href="#" class="w3-bar-item w3-button">Accesorios</a>
        <br>
        <a href="#" class="w3-bar-item w3-button">Ropa Deportiva</a>
        <br>
        <a href="#" class="w3-bar-item w3-button">Orientcion Nutricional</a>
        <br>
        <a href="#" class="w3-bar-item w3-button">Info. Frutas y Vegetales</a>
        <br>
        <a href="#" class="w3-bar-item w3-button">Calculadora IMC</a>
        <br>
        <a href="#" class="w3-bar-item w3-button">Asesoria Profesional</a>
        <br>
        <a href="#" class="w3-bar-item w3-button">Ventana Especial</a>
    </div>

    
    
    <script>
        function w3_open() {
          document.getElementById("main").style.marginLeft = "25%";
          document.getElementById("mySidebar").style.width = "25%";
          document.getElementById("mySidebar").style.display = "block";
          document.getElementById("openNav").style.display = 'none';
        }
        function w3_close() {
          document.getElementById("main").style.marginLeft = "0%";
          document.getElementById("mySidebar").style.display = "none";
          document.getElementById("openNav").style.display = "inline-block";
        }
    </script>
        
    
</body>
</html>-->