<app-menu></app-menu>
<app-boton-pqrs></app-boton-pqrs>

<h2>Horario Saludable de Comidas</h2>
<div class="parrafo">
    <p>A continuación, se quiere dar a entender que para tener un buen hábito 
       alimenticio se tienen que tener encuenta la hora de las 5 comidas al 
       día que deberíamos considerar. Claramente presentamos unos pequeños tips que 
       te ayudarán a tener un óptimo estado de salud, por medio de la siguiente tabla:
    <p>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
            <th>Hora</th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miercoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sabado</th>
            <th>Domingo</th>
            </tr>
        </thead>

        <tbody>
            <tr>
            <th style="background-color: #ecfbfd;"></th>
            <th style="background-color: #ecfbfd"></th>
            <th style="background-color: #ecfbfd"></th>
            <th style="background-color: #ecfbfd; text-align: end; padding: 0;"><i>Desa</i></th>
            <th style="background: #ecfbfd; text-align: left; padding: 0;"><i>yuno</i></th>
            <th style="background-color: #ecfbfd;"></th>
            <th style="background-color: #ecfbfd;"></th>
            <th style="background-color: #ecfbfd;"></th>
            </tr>
        </tbody>

        <tbody>
            <tr>
            <td>7:30 - 8:30 a.m.</td>
            <td>Avena con yogur y frutos rojos.</td>
            <td>Tostadas con aguacate y germinados.</td>
            <td>Bocadillo de higos y calabacín.</td>
            <td>Creps ligeros con huevo y frutas.</td>
            <td>Sándwich de salmón ahumado.</td>
            <td>Yogur con manzana, nueces y semillas de chía.</td>
            <td>Pan integral, pechuga, queso y lechuga.</td>
            </tr>
        </tbody>

        <tbody>
            <tr style="background-color: #ecfbfd;">
            <th style="background-color: #ecfbfd;"></th>
            <th style="background-color: #ecfbfd;"></th>
            <th style="background-color: #ecfbfd;"></th>
            <th style="background-color: #ecfbfd; padding: 0;"><i>Media</i></th>
            <th style="background: #ecfbfd; padding: 0;"><i>Mañana</i></th>
            <th style="background-color: #ecfbfd;"></th>
            <th style="background-color: #ecfbfd;"></th>
            <th style="background-color: #ecfbfd;"></th>
            </tr>
        </tbody>

        <tbody>
          <tr>
            <td>10:30 - 11:00 a.m.</td>
              <td>Tomates Cherry.</td>
              <td>Pudding de chía y fruta.</td>
              <td>Fresas con limón.</td>
              <td>Galletas caseras de avena.</td>
              <td>Limonada casera.</td>
              <td>Chips de zanahoria y calabacín.</td>
              <td>Chips de manzana.</td>
            </tr>
        </tbody>

        <tbody>
            <tr>
            <th style="background-color: #ecfbfd;"></th>
            <th style="background-color: #ecfbfd"></th>
            <th style="background-color: #ecfbfd"></th>
            <th style="background-color: #ecfbfd; text-align: end; padding: 0;"><i>Almu</i></th>
            <th style="background: #ecfbfd; text-align: left; padding: 0;"><i>erzo</i></th>
            <th style="background-color: #ecfbfd;"></th>
            <th style="background-color: #ecfbfd;"></th>
            <th style="background-color: #ecfbfd;"></th>
            </tr>
        </tbody>

        <tbody>
            <tr>
              <td>12:30 -13:30 p.m.</td>
              <td>Ensalada de atún Primor con arroz integral.</td>
              <td>Crema de zanahoria y brochetas de pollo.</td>
              <td>Ensalada de Pasta con atún.</td>
              <td>Salteado de garbanzos con pollo y verduras.</td>
              <td>Macarrones con carne y arroz.</td>
              <td>Lentejas con pavo, plátano y papa.</td>
              <td>Milanesa de cerdo apanada con linaza y ajonjolí.</td>
            </tr>
        </tbody>

        <tbody>
            <tr style="background-color: #ecfbfd;">
            <th style="background-color: #ecfbfd;"></th>
            <th style="background-color: #ecfbfd;"></th>
            <th style="background-color: #ecfbfd;"></th>
            <th style="background-color: #ecfbfd; padding: 0;"><i>Medias</i></th>
            <th style="background: #ecfbfd; padding: 0;"><i>Tardes</i></th>
            <th style="background-color: #ecfbfd;"></th>
            <th style="background-color: #ecfbfd;"></th>
            <th style="background-color: #ecfbfd;"></th>
            </tr>
        </tbody>

        <tbody>
            <tr>
              <td>15:30 - 16:00 p.m.</td>
              <td>Muffins integrales de kiwi.</td>
              <td>Ensalada de frutas casera.</td>
              <td>Palomitas de maíz.</td>
              <td>Barritas energéticas.</td>
              <td>Chips de papas.</td>
              <td>Smothie de frutas.</td>
              <td>Frutos secos.</td>
            </tr>
        </tbody>

        <tbody>
            <tr>
            <th style="background-color: #ecfbfd;"></th>
            <th style="background-color: #ecfbfd"></th>
            <th style="background-color: #ecfbfd"></th>
            <th style="background-color: #ecfbfd; text-align: end; padding: 0;"><i>Ce</i></th>
            <th style="background: #ecfbfd; text-align: left; padding: 0;"><i>na</i></th>
            <th style="background-color: #ecfbfd;"></th>
            <th style="background-color: #ecfbfd;"></th>
            <th style="background-color: #ecfbfd;"></th>
            </tr>
        </tbody>

        <tbody>
            <tr>
              <td>18:30 - 19:30 p.m.</td>
              <td>Rollos de lechuga romana.</td>
              <td>Ensalada de lentejas y verduras asadas.</td>
              <td>Verduras salteadas con huevo.</td>
              <td>Caldos y sopas ligeros.</td>
              <td>Bibimbap.</td>
              <td>Verduras salteadas con huevo.</td>
              <td>Calabacines rellenos de carne picada.</td>
            </tr>
        </tbody>

    </table>
</div>