form {
  max-width: 500px;
  margin: 14% auto;
  background-color: #c3b3a4;
  padding: 50px;
  border-radius: 10px;
  position: relative;
  z-index: 300;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

button[type="submit"] {
  background-color: #540202;
  border: none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #a9054c;
}

h4 {
  margin-top: 4%;
  font-family: cursive;
  text-align: center;
  color: rgb(112, 2, 2);
}
