<div>

  <div class="container"></div>
  <h1>Tabla de alimentos</h1>
  <app-buscador (terminoBusquedaEmitter)="filtrarTabla($event)"></app-buscador>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Calorías</th>
        <th>Carbohidratos</th>
        <th>Proteínas</th>
        <th>Grasas</th>
        <th>Fibra</th>
        <th>Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alimento of datosTablaFiltrados">
        <td>{{ alimento.nombre }}</td>
        <td>{{ alimento.calorias }}</td>
        <td>{{ alimento.carbohidratos }}</td>
        <td>{{ alimento.proteinas }}</td>
        <td>{{ alimento.grasas }}</td>
        <td>{{ alimento.fibra }}</td>
        <td><img src="{{ alimento.imagen }}" alt="{{ alimento.nombre }}" width="100"></td>
      </tr>
    </tbody>
  </table>
  <div class="pagination-buttons">
    <button (click)="currentPage = currentPage - 1" [disabled]="currentPage === 1">Anterior</button>
    <button (click)="currentPage = currentPage + 1" [disabled]="currentPage === totalPages">Siguiente</button>
  </div>
</div>