<app-menu></app-menu>
<app-boton-pqrs></app-boton-pqrs>
<div class="container">
  <h2>Información Nutricional de Frutas y Verduras</h2>
    <table class="table table-fruta">
      <thead>
        <tr>
          <th>Fruta</th>
          <th>Nombre</th>
          <th>Calorías</th>
          <th>Carbohidratos</th>
          <th>Proteínas</th>
          <th>Grasas</th>
          <th>Fibra</th>
          <th>Vitaminas</th>
          <th>Minerales</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="../../../assets/imagen/frutasVegetales/manzana.pjg.jpg"></td>
          <td>Manzana Roja</td>
          <td>52Kcal</td>
          <td>14g</td>
          <td>0.3g</td>
          <td>0.2g</td>
          <td>2.4g</td>
          <td>Vitamina C</td>
          <td>Calcio, Hierro, Potasio</td>
        </tr>
        <tr>
          <td><img src="../../../assets/imagen/frutasVegetales/banano.jpg"></td>
          <td>Banano</td>
          <td>89Kcal</td>
          <td>23g</td>
          <td>1.1g</td>
          <td>0.3g</td>
          <td>2.6g</td>
          <td>Vitamina C, B6</td>
          <td>Calcio, Hierro, Potasio</td>
        </tr>
        <tr>
          <td><img src="../../../assets/imagen/frutasVegetales/fresa.jpg"></td>
          <td>Fresa</td>
          <td>33Kcal</td>
          <td>100g</td>
          <td>0.7g</td>
          <td>0.3g</td>
          <td>2.2g</td>
          <td>Vitaminas C, B6</td>
          <td>Calcio, Hierro, Potasio</td>
        </tr>
        <tr>
          <td><img src="../../../assets/imagen/frutasVegetales/naranja.jpg"></td>
          <td>Naranja</td>
          <td>47Kcal</td>
          <td>12g</td>
          <td>0.9g</td>
          <td>0.1g</td>
          <td>2.4g</td>
          <td>Vitamina C</td>
          <td>Calcio, Hierro, Potasio</td>
        </tr>
        <tr>
          <td><img src="../../../assets/imagen/frutasVegetales/Pera.jpg"></td>
          <td>Pera</td>
          <td>57Kcal</td>
          <td>26.6g</td>
          <td>0.43g</td>
          <td>0.2g</td>
          <td>6g</td>
          <td>Vitaminas A1,B1,B2,B3,C</td>
          <td>Potasio, Magnesio, Fosforo</td>
        </tr>
        <tr>
          <td><img src="../../../assets/imagen/frutasVegetales/sandia.jpg"></td>
          <td>Sandia</td>
          <td>32Kcal</td>
          <td>7.8g</td>
          <td>0.62g</td>
          <td>0.43g</td>
          <td>0.5g</td>
          <td>Vitaminas A,C</td>
          <td>Potasio, Calcio, Magnesio</td>
        </tr>
        <tr>
          <td><img src="../../../assets/imagen/frutasVegetales/manzanaV.jpg"></td>
          <td>Manzana Verde</td>
          <td>81Kcal</td>
          <td>19g</td>
          <td>0g</td>
          <td>0.2g</td>
          <td>2.4g</td>
          <td>Vitamina C</td>
          <td>Calcio, Hierro, Potasio</td>
        </tr>
        <tr>
        <td><img src="../../../assets/imagen/frutasVegetales/Perabosc.jpg"></td>
        <td>Pera Bosc</td>
          <td>63Kcal</td>
          <td>26.6g</td>
          <td>15g</td>
          <td>0g</td>
          <td>3.1g</td>
          <td>Vitaminas A1,B1,B2,B3,C</td>
          <td>Potasio, Magnesio, Fosforo</td>
        </tr>
        <!-- Continúa agregando más filas para cada fruta o verdura que quieras mostrar -->
      </tbody>
    </table>
    <table class="table table-vegetal">
      <thead>
        <tr>
          <th>Vegetal</th>
          <th>Nombre</th>
          <th>Calorías</th>
          <th>Carbohidratos</th>
          <th>Proteínas</th>
          <th>Grasas</th>
          <th>Fibra</th>
          <th>Vitaminas</th>
          <th>Minerales</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="../../../assets/imagen/frutasVegetales/Tomate.jpg"></td>
          <td>Tomate</td>
            <td>18Kcal</td>
            <td>3.5g</td>
            <td>1.20g</td>
            <td>0.20g</td>
            <td>1.1g</td>
            <td>Vitaminas A1,B9,C</td>
            <td>Potasio, Calcio,Fosforo</td>
        </tr>
        <tr>
          <td><img src="../../../assets/imagen/frutasVegetales/cebollaC.jpg"></td>
          <td>Cebolla Blanca</td>
          <td>42Kcal</td>
          <td>1.6g</td>
          <td>0.25g</td>
          <td>8.6g</td>
          <td>1.1g</td>
          <td>Vitaminas B1,B2,B3,B9</td>
          <td>Hierro, Calcio, Magnesio</td>
        </tr>
        <tr>
          <td><img src="../../../assets/imagen/frutasVegetales/pimientoRojo.jpg"></td>
          <td>Pimenton Rojo</td>
          <td>31Kcal</td>
          <td>4.6g</td>
          <td>1</td>
          <td>2.34g</td>
          <td>1g</td>
          <td>Vitaminas A,B1,B2,B3,B6</td>
          <td>Potasio, Calcio, Magnesio</td>
        </tr>
        <tr>
          <td><img src="../../../assets/imagen/frutasVegetales/pepino.jpg"></td>
          <td>Pepino C</td>
          <td>15Kcal</td>
          <td>2g</td>
          <td>0.66g</td>
          <td>0.1g</td>
          <td>0.8g</td>
          <td>Vitaminas A,B1,B2,B3,B6</td>
          <td>Hierro, Calcio, Fosforo</td>
        </tr>
        <tr>
          <td><img src="../../../assets/imagen/frutasVegetales/zanahoria.jpg"></td>
          <td>Zanahoria</td>
          <td>41Kcal</td>
          <td>10g</td>
          <td>0.8g</td>
          <td>0.2g</td>
          <td>2.8g</td>
          <td>Vitaminas A,B1,B2,B3,B6</td>
          <td>Hierro, Calcio, Fosforo</td>
        </tr>
        <tr>
          <td><img src="../../../assets/imagen/frutasVegetales/cebollaCM.jpg"></td>
          <td>Cebolla Morada</td>
          <td>40Kcal</td>
          <td>9.74g</td>
          <td>1.3</td>
          <td>0.08g</td>
          <td>1.6g</td>
          <td>Vitaminas A,B1,B2,B3,B6</td>
          <td>Hierro, Calcio, Fosforo</td>
        </tr>
        <tr>
          <td><img src="../../../assets/imagen/frutasVegetales/pimientoAmarillo.jpg"></td>
          <td>Pimenton Amari.</td>
          <td>27Kcal</td>
          <td>6g</td>
          <td>1g</td>
          <td>0g</td>
          <td>0.9g</td>
          <td>Vitaminas A,B1,B2,B3,B6</td>
          <td>Potasio, Calcio, Magnesio</td>
        </tr>
        <!-- Continúa agregando más filas para cada fruta o verdura que quieras mostrar -->
      </tbody>


    </table>
  </div>