<app-menu></app-menu>
<div class="container">
    <h2>Información nutricional de frutas y verduras</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Calorías</th>
          <th>Carbohidratos</th>
          <th>Proteínas</th>
          <th>Grasas</th>
          <th>Fibra</th>
          <th>Vitaminas</th>
          <th>Minerales</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Manzana</td>
          <td>52</td>
          <td>14g</td>
          <td>0.3g</td>
          <td>0.2g</td>
          <td>2.4g</td>
          <td>Vitamina C</td>
          <td>Calcio, Hierro, Potasio</td>
        </tr>
        <tr>
          <td>Plátano</td>
          <td>89</td>
          <td>23g</td>
          <td>1.1g</td>
          <td>0.3g</td>
          <td>2.6g</td>
          <td>Vitamina C, B6</td>
          <td>Calcio, Hierro, Potasio</td>
        </tr>
        <tr>
          <td>Naranja</td>
          <td>47</td>
          <td>12g</td>
          <td>0.9g</td>
          <td>0.1g</td>
          <td>2.4g</td>
          <td>Vitamina C</td>
          <td>Calcio, Hierro, Potasio</td>
        </tr>
        <!-- Continúa agregando más filas para cada fruta o verdura que quieras mostrar -->
      </tbody>
    </table>
  </div>