
<app-menu></app-menu>

<div class="section full-height over-hide px-4 px-sm-0">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-lg-10 col-xl-8 align-self-center padding-tb">
                <div class="section mx-auto text-center slider-height-padding">
                      <input class="checkbox frst" type="radio" id="slide-1" name="slider" checked/>
                      <label for="slide-1"></label>
                      <input class="checkbox scnd" type="radio" name="slider" id="slider-2"/>
                      <label for="slider-2"></label>
                      <input class="checkbox thrd" type="radio" name="slider" id="slider-3"/>
                      <label for="slider-3"></label>
                      <input class="checkbox foth" type="radio" name="slider" id="slider-4"/>
                      <label for="slider-4"></label>
                    <ul>
                        <li>
                            <span>PRODUCTOS</span>
                        </li>
                        <li>
                            <span>ACCESORIOS</span>
                        </li>
                        <li>
                            <span>ROPA DEPORTIVA</span>
                        </li>
                        <li>
                            <span>SKATEBOARD FACE</span>
                            <img src="/src/app/imagen/fondoGris.jpg" alt="" class="griss">
                        </li>
                        <li>
                         <button (click)="onClick()" class="btn btn-outline-danger mt-5"><span>SKATEBOARD FACE</span></button>
                        </li>
                    </ul>
                </div>
            </div>
          </div>
    </div>
</div>