.asesoria {
  padding: 9%;  
}
  
.asesoria h2 {
  color: black;
  text-align: center;
  font-family: fantasy;
}
  
.asesoria img {
  margin-left: -15%;
  padding: 50px;
  max-width: 116%;
  height: auto;
}
  
.asesoria h4 {
  text-align: center;
  padding-top: 0;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}
  
.asesoria p {
  text-align: justify;
  font-size: 16px;
  line-height: 1.5;
  color: black;
}
  
.asesoria p {
  list-style-type: disc;
  margin-left: 20px;
}
  
.asesoria button {
  background-color: #35543a;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  /* display: block; */
  margin: 5px; 
}

.text{
  background: #d8e0f8;
  border-radius: 20px;
  width: 640px;
  height: 357px;
  text-align: center;
  margin-top: 9%;
  padding: 3%;
  margin-left: -11%;
}

p{
  text-align: justify;
  color: black;
}
